header {
    background-color: #27293d;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .cart-count-header {
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff398f;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
}

header .right-section {
    position: relative;
}
